<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Create Product</title>
</head>
<body>
<h2>Create Product</h2>

<form method="POST">
    {% csrf_token %}

    <input type="text" name="name" placeholder="Name" required><br><br>

    <textarea name="description" placeholder="Description"></textarea><br><br>

    <input type="file" name="image" placeholder="Image" required><br><br>

    <input type="text" name="price" placeholder="Price" required><br><br>

    <input type="number" name="stock" placeholder="Stock" required><br><br>

    <label>Select Store:</label><br>
    <select name="store" required>
        <option value="">-- Select a Store --</option>
        {% for store in stores %}
            <option value="{{ store.id }}">{{ store.name }}</option>
        {% endfor %}
    </select><br><br>

    <button type="submit">Create Product</button>
</form>

<br>

<a href="{% url 'store:my_products' %}">
    <button>Back to My Products</button>
</a>

</body>
</html>