<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Product Catalog</title>
</head>
<body>
    <h1>Product Catalog</h1>

    {% if products %}
        <table border="1" cellpadding="10" cellspacing="0">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Store</th>
                    <th>Description</th>
                    <th>Image</th>
                    <th>Price</th>
                    <th>Add to Cart</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                {% for product in products %}
                    <tr>
                        <td>{{ product.name }}</td>
                        <td>{{ product.store }}</td>
                        <td>{{ product.description }}</td>

                        {% if product.image %}
                            <td><img src="{{ product.image.url }}" width="50"></td>
                        {% elif not product.image %}
                            <td>No image available</td>
                        {% endif %}

                        <td>£{{ product.price }}</td>
                        <td>
                            <form method="POST" action="{% url 'store:add_to_cart' %}">
                                {% csrf_token %}
                                <input type="hidden" name="item" value="{{ product.name }}">
                                <input type="number" name="quantity" value="1" min="1" style="width: 50px;" />
                                <button type="submit">Add</button>
                            </form>
                        </td>
                        <td>
                            <p>Link to product:
                            <a href="{% url 'store:product_detail' product.id %}">
                                {{ product.name }}
                            </a>
                            </p>

                            <a href="{% url 'store:delete_product' product.id %}">
                                <button>Delete</button>
                            </a>

                            <a href="{% url 'store:edit_product' product.id %}">
                                <button>Edit</button>
                            </a>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    {% else %}
        <p>No products available.</p>
    {% endif %}

    <br>
    <!-- Navigation Buttons -->
    <div style="margin-top: 20px;">
        <a href="{% url 'store:main_cart_page' %}">
            <button>🛒 View Cart</button>
        </a>

        <a href="{% url 'store:product_page' %}">
            <button>🔍 Search Product</button>
        </a>
    </div>

    <div style="margin-top: 20px;">
        <a href="{% url 'authenticator:welcome' %}">
            <button>🏠 Back Home</button>
        </a>
    </div>

</body>
</html>